<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <div style="width: 900px; margin: 0 auto;">
            <div style="text-align: center;">
                <h2 style="font-family:calibri; color: #004fbe;">AWX Automation Alert</h2>
            </div>
            <div>
                <p>
                    <br>
                    <br>
                </p>
            </div>
            <div>
                <p style="font-family:calibri">
                    <b><msg></b>
                </p>
                <p style="font-family:calibri">
                    <b>Task Number: </b><task><br>
                    <b>Server Hostname: </b><server><br>
                    <b>Region: </b><region<br>
                    <b>Groups: </b><groups><br>
                    <b>Logon Groups: </b><logongroups><br>
                    <b>Job ID: </b><job><br>
                </p> 
            </div>
                <p style="font-family:calibri;text-align: left;">
                    Regards,<br>
                   <strong>IT Automation</strong>
                </p>
            </div>
        </div>
        <br><br>
        <hr>
        <center>
            <p style="font-family:calibri">2022 Western Digital Confidential - Internal Use Only</p>
            <p><img width="115" height="13" src="cid:wdc" alt="wdc"></p>
            <p>&nbsp;</p>
        </center>
    </body>
</html>
