<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>New Server Request Notification</title>
</head>
<body>
     <div style="text-align: center;">
         <h2 style="font-family:calibri; color: #004fbe;">CheckMk OnBoarding Automation Alert</h2>
     </div>
<p>Hi <User>,</p>

<p>You are receiving this email because it is part of the New Server Request Automated Workflow. Your New Server Request <SNOW_Request_Number> has indicated this server has to be monitored by IT.</p>

<p>However, our monitoring tool-CheckMK is unable to monitor your new server <server_name> due to <failure_reason>.</p>

<p>We recommend that you visit our <a href="https://sharedspace.sharepoint.com/:u:/r/sites/ITServerMonitoringTool/SitePages/CheckMK-User-Guide.aspx?csf=1&web=1&e=sc8ONj">HELP</a> page in order to fix the issue so that the automation can continue and your new server will be monitored by IT.</p>

<p>Please contact us <a href="mailto:mahesh.kalyankar@wdc.com?Subject=<ticket>:%20Server%20Onboarding%20Status%20(Action Required)&amp;body=">PDL-it-infra-monitoring-checkmk-team</a> if you are still having issues.</p>

<p>Please take note that this is an automated email, DO NOT reply to this email.</p>

<p>Thanks!</p>
</body>
</html>
